SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=ai_whatsapp_assistant
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db:5432/ai_whatsapp_assistant
REDIS_URL=redis://redis:6379/0
DJANGO_SETTINGS_MODULE=config.settings.prod
