asgiref==3.12.1
cryptography==46.0.3
Django==6.1
django-environ==0.14.0
gunicorn==26.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
whitenoise==6.11.0
